<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}The Last Social Media You'll Ever Need{% endblock %} | Yatube</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <style>
      .navbar-dark, .py-5 {
        background-image: linear-gradient(315deg, #3D9970 0%, #00570b 80%);
      }
      .a-footer {
        color: #00570b;
      }
      .btn-primary {
        color: #fff;
        background-color: #000099;
        border-color: #000099;
        background-image: linear-gradient(315deg, #3D9970 5%, #00570b 10%);
      }
      .h6 {
        color:#00570b
      }
    </style>
  </head>

  <body>

    {% include 'includes/nav.html' %}
    <main>
      <div class="container">
        <h1>{% block header %}{% endblock %}</h1>
        {% block content %}
        {% endblock %}
      </div>
    </main>
    {% include 'includes/footer.html' %}
  </body>

</html>
